.student-input {
  position: relative;
}

.top {
  font-weight: bold;
}

.input {
  font-weight: bold;
}

.logos {
  width: 28%;
  height: 28%;
}

.btn {
  background-color: #003c5c;
  margin: 30px !important;
}

.th {
  text-align: center;
}

tr,
td,
th {
  border: 1px solid black;
}

.studentInfo {
  width: 100%;
  border: 1px solid black;
}
