.student-input {
    /* padding-left: 30% !important; */
    position: relative;

}

.top {
    font-weight: bold;
}

.input {
    font-weight: bold;
}

.btn {
    background-color: #003C5C;
    margin: 30px !important;

}

.th {
    text-align: center;
}

tr,
td,
th {
    border: 1px solid black;
}

.studentInfo {
    width: 100%;
    border: 1px solid black;
}